<!-- command ?/ button to comment something out -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My First Website!
		</title>
	</head>
	<body>
		<h1> My favorite color is... </h1>
		<p style="font-size: 25px; color: #561ed9">
			<b>Purple!</b>
		</p>
		<p> I love the color purple <i>because</i> there are soooo many different shades of the color, making it so beautiful!
		</p>
		<h2> My favorite season is... </h2>
		<p style="font-size: 25px; color: #d6500d">
			<b>Fall!</b>
		</p>
		<p> I love fall <i>because</i> it's not too hot and not too cold. I also love seeing the leaves change color :)
		</p>
	</body>
</html>