<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My First Website!
		</title>
	</head>
	<body>
		<h1> My favorite color is... </h1>
		<p style="font-size: 25px; color: #561ed9">
			<b>Purple!</b>
		</p>
		<p> I love the color purple <i>because</i> there are soooo many different shades of the color, making it so beautiful!
		</p>
		<ul>
			<li>Shades include...</li>
				<ul>
					<li style="color: #6513d4">Violet</li>
					<li style="color: #a473e6">Lavender</li>
					<li style="color: #551c63">Magenta</li>
				</ul>
		</ul>
		<h2> My favorite season is... </h2>
		<p style="font-size: 25px; color: #d6500d">
			<b>Fall!</b>
		</p>
		<p> I love fall <i>because</i> it's not too hot and not too cold. I also love seeing the leaves change color :)
		</p>
		<ul>
			<li>Other reasons to love fall...</li>
				<ul>
					<li>Thanksgiving!</li>
					<li>Halloween!</li>
					<li>Pumpkin patches</li>
					<li>Pumpkin pie</li>
				</ul>
		</ul>
		<h3> The colors of the rainbow! </h3>
		<p>
			<ol>
				<li style="color: #cc2d14">Red</li>
				<li style="color: #f78c11">Orange</li>
				<li style="color: #ebe71a">Yellow</li>
				<li style="color: #4ca83e">Green</li>
				<li style="color: #2f60d4">Blue</li>
				<li style="color: #7b3fbf">Purple</li>
				<li style="color: #e546e8">Pink</li>
			</ol>
		</p>
		<p> To find out more about rainbows, click this link! </p>
		<ul>
			<li><a href="https://www.rainbowsymphony.com/blogs/blog/8-fascinating-facts-about-rainbows-you-probably-never-knew">Rainbows!</a></li>
		</ul>
	</body>
</html>
