/** {

}

p {
	color: purple;
	text-shadow: 3px 2px #4287f5;
}
body {
	background-color: pink;
}
h1 {
	text-align: center;
}*/

.service-change {
	font-weight: bold; 
	color: red;
}

.normal-service {
	color: lightgreen;
}

.all-trains {
	font-size: 20px;
}


